SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_AUTH=true
SMTP_STARTTLS=true

SMTP_USERNAME=tebbini203@gmail.com
SMTP_PASSWORD=YOUR_SMTP_APP_PASSWORD
SMTP_FROM=tebbini203@gmail.com

APP_BASE_URL=http://localhost:8080





FACEPP_API_KEY=YOUR_FACEPP_API_KEY
FACEPP_API_SECRET=YOUR_FACEPP_API_SECRET
FACEPP_API_BASE_URL=https://api-us.faceplusplus.com
FACEPP_MIN_CONFIDENCE=80
###> webauthn/passkey ###
WEBAUTHN_PUBLIC_BASE_URL=https://TON-DOMAINE-NGROK.ngrok-free.app
WEBAUTHN_RP_ID=TON-DOMAINE-NGROK.ngrok-free.app
WEBAUTHN_ORIGIN=https://TON-DOMAINE-NGROK.ngrok-free.app
WEBAUTHN_RP_NAME=Decide
WEBAUTHN_BIND_PORT=53682
###< webauthn/passkey ###
